@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --font-principal: 'Montserrat', sans-serif;
  --font-secund: 'Roboto', sans-serif;
  --font-terce: 'Raleway', sans-serif;
  --cor-10: #D4AF37;
  --cor-20: #252525;
  --cor-70: #C0C0C0;
  --cor-font-70: #CCCCCC;
  --cor-font-20: #444444;
  --cor-font-10: #D4AF37;
  --cor-black-one: #000000;
  --cor-black-two: #262626;
  --cor-black-three: #1C1C1C;
  --cor-black-four: #191919;
}
body{
 background-image: linear-gradient(to left, #000000,  #262626,  #1c1c1c, #252525, #000000);
 background-size: 500% 100%;
 animation: degrade-animado 5s infinite alternate;
}
@keyframes degrade-animado{
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 100%;
  }
}

.logo{
  max-width: 250px;
  height: auto;
}
.logo img{
  max-width: 100%;
  height: auto;
}
.container{
  max-width: 1150px;
  margin: 0 auto;
}

.button{
  padding: 15px 60px;
  gap: 10px;
  background-color: var(--cor-10);
  box-shadow: 0px 0px 100px rgba(212, 175, 55, 0.75);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-secund) !important;
  text-transform: uppercase !important;
  color: var(--cor-font-70) !important;
  display: block;
  transition: 500ms;

}
.button:hover{
  background-image: linear-gradient(to left, rgba(212, 175, 55, 0.75),  #aa9038,  #967b22, rgba(212, 175, 55, 0.75));
  background-size: 500% 100%;
  animation: degrade-animado 5s infinite alternate;
  transform: scale(1.1);

}
main{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.fundo-header{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(8px) grayscale(10);
  object-fit: cover;
  object-position: center;
  mix-blend-mode: lighten;
}
.headline{
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.headline h1{
  max-width: 1150px;
  text-align: center;
  font-family: var(--font-principal);
  font-size: 2.5em;
  color: var(--cor-font-70);
  line-height: 60px;
}
.headline p{
  max-width: 750px;
  text-align: center;
  font-family: var(--font-terce);
  font-size: 1.125em;
  color: var(--cor-font-70);
}
.headline p::before{
  content: '';
  display: block;
  width: 150px;
  height: 4px;
  background: var(--cor-10);
  margin: 0 auto;
  margin-bottom: 20px;
}
/* responsividade */
@media (max-width: 789px){
  .headline h1{
    font-size: 2em;

  }
  .headline p{
    max-width: 300px;
    text-align: center;
  }
}

/* SESSÃO DOS GATILHOS QUE SÃO CARDS DE 3 BENEFÍCIOS */
.gatilhos{
  background: var(--cor-black-two);
  padding: 100px 0;
}
.box{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}
.box .box-conteudo{
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box-conteudo h2{
  font-family: var(--font-principal);
  text-transform: uppercase;
  font-size: 2.5em;
 
  color: var(--cor-font-10);

}
.box-conteudo p{
  font-family: var(--font-terce);
  color: var(--cor-font-70);
  font-size: 1.125em;
  line-height: 30px;
}
.box-conteudo p::before{
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background-color: var(--cor-10);
  margin-bottom: 10px;
}
.box .box-card{
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--cor-black-four);
  overflow: hidden;
  padding: 50px;
  border-radius: 5px;
}

.box-card h2{
  font-family: var(--font-principal);
  font-size: 2.5em;
  margin-left: -20px;
  color: var(--cor-font-10);
}
.box-card .box-card-section h3{
  margin-bottom: 5px;
  font-family: var(--font-secund);
  font-size: 2em;
  color: var(--cor-font-70);

}
.box-card .box-card-section p{
  margin-top: 5px;
  font-family: var(--font-terce);
  font-size: 1.125em;
  color: var(--cor-font-20);
  line-height: 30px;
}
/* responsividade */
@media (max-width: 789px){
  .box{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
  }
  .box .box-card{
    max-width: 300px;
  }
  .box .box-card h2{
    font-size: 2em;
  }
  .box .box-card h3{
    font-size: 1.5em;
  }
  .box .box-conteudo{
    justify-content: center;
  }
  .box .box-conteudo h2{
    text-align: start;
    font-size: 1.5em;
  }
  .box .box-conteudo p{
    max-width: 300px;
    text-align: start;
  }
  
}
/* SESSÃO DA ÁREA DE ESCASSEZ */
.escassez{
  width: 100%;
  padding: 100px 0;
}
.chamada{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.chamada-img{
  max-width: 450px;
}
.chamada-img img{
  max-width: 100%;
  height: auto;
  
}
.chamada-conteudo{
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.chamada-conteudo h2{
  font-family: var(--font-principal);
  color: var(--cor-font-70);
  font-weight: 700;
  font-size: 2em;
}
.chamada-conteudo p{
  font-family: var(--font-terce);
  font-size: 1em;
  color: var(--cor-font-20);
  line-height: 25px;
}
.chamada .chamada-conteudo  p:before{
  content: "";
  display: block;
  width: 150px;
  height: 4px;
  background-color: var(--cor-10);
  margin-bottom: 10px;
}

/* responsividade */
@media (max-width: 789px){
  .chamada{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .chamada-img{
    max-width: 300px;
  }
  .chamada-conteudo{
    justify-content: flex-start;
    align-items: flex-start;
  }
  .chamada-conteudo h2{
    font-size: 1.5em;
    text-align: start;
  }
  .chamada-conteudo p{
    text-align: start;
    max-width: 300px;
  }
  .chamada .chamada-conteudo h2{
    max-width: 300px;
  }
}

/* Clientes */

@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 7));
  }
}
.clients{
  background-color: var(--cor-black-two);
  padding: 100px 0 ;
}
.slider{
  height: 100px;
  margin: 50px auto;
  overflow: hidden;
  position: relative;
  width: auto;
  background: transparent;


}
.slider .slider-tracker{
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slider-slide{
  height: 100px;
  width: 250px;
  filter: grayscale(1);

}
.clients h2{
  text-align: center;
  color: var(--cor-font-70);
  font-family: var(--font-principal);
  font-size: 2.5em;
  max-width: 1150px;
  margin: 0 auto;
}
  /* DEPOIMENTOS */
  #portfolio{
    height: 380px;
    width: 935px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    background-color: var(--cor-black-four);

  
  }
  .depoimentos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
  }
  .bar{
    width: 70px;
    height: 20px;
    border: 2px solid var(--cor-10);
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;  
    display: inline-block;
  }
  .bar:hover{
    background: var(--cor-10);
    transition: 400ms;
  }

  input{
    display: none;
  }
  .slides{
    display: flex;
    width: 500%;
    height: 100%;
  }
  .slide{
    width: 20%;
    transition: .6s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .slide img{
    width: 200px;
    background: var(--cor-black-two);
    padding: 10px;
    border-radius: 5px;
    height: 100px;
  }
  .slide p{
    color: var(--cor-font-70);
    max-width: 80%;
    text-align: center;
  }
  .slide span{
    color: var(--cor-font-10);
    text-align: center;

  }


  #slide1:checked ~ .s1{
    margin-left: 0;
  
  }
  #slide2:checked ~ .s1{
    margin-left: -20%;
    
  }
  #slide3:checked ~ .s1{
    margin-left: -40%;
  }
  #slide4:checked ~ .s1{
    margin-left: -60%;
  }
  #slide5:checked ~ .s1{
   margin-left: -80%; 
  }
/* responsividade */
@media (max-width: 789px){
  .bar{
    width: 14px;
    height: 14px;
  }
  #portfolio{
    height: 400px;
    max-width: 300px;
  }
  .clients h2{
    font-size: 1.5em;
    max-width: 300px;
  }
}
/* QUEBRA DE OBJEÇÃO */
.mockup{
  background: var(--cor-black-two);
}
.mockup .chamada{
  flex-direction: row-reverse;
}
.mockup .chamada .chamada-img{
  max-width: 750px;
}
.mockup .chamada .chamada-conteudo {

}
@media (max-width: 789px){
  .mockup .chamada{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
  /* PERGUNTAS FREQUENTES */
  .faq-headline{
    max-width: 750px;
    margin: 0 auto;
  }
  .faq-texto{
    position: relative;
    z-index: 1;
  }
  .faq-headline h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--cor-black-four);
    font-size: 5em;
    z-index: -1;
    font-family: var(--font-principal);
  }
  .faq-headline h3{
    text-align: center;
    color: var(--cor-font-70);
    z-index: 1;
    font-size: 2em;
    font-family: var(--font-secund);
  }
  .faq-headline p{
    color: var(--cor-font-10);
    z-index: 3;
    margin-top: 30px;
    font-size: 1.125em;
    text-align: center;
    font-family: var(--font-terce);
  }
.faq{
  background: transparent;
  padding: 100px 0;
}
.accordion{
  margin: 60px auto;
  max-width: 960px;
}
.accordion li{
  list-style: none;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  border-radius: 0;
  background: transparent;
  border-bottom: 2px solid var(--cor-70);


}
.accordion li label{
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: var(--cor-font-70);
  font-size: 1.4em;
  font-family: var(--font-secund);

}
.accordion label::before{
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 100;
  color: var(--cor-10);
}

.accordion input[type="radio"]{
  display: none;

}
.accordion .content{
  color: var(--cor-font-70);
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
  font-size: 1em;
  font-family: var(--font-terce);
}
.accordion input[type="radio"]:checked  + label + .content{
  max-height: 400px;
  padding: 10px 10px 20px;

}
.accordion input[type="radio"]:checked + label::before{
  content: "-";
}
/* responsividade */
@media (max-width: 500px){
  .accordion{
    max-width: 300px;
  }
  .faq-headline h2{
    font-size: 4em;
  }
  .faq.headline h3{
    font-size: 1.5em;
  }
  .faq-headline p{
    max-width: 300px;
    margin: 20px auto 0 auto;

  }
}
      /* rodapé */
  /* rodapé */
  /* estilos para o footer */
  footer {
    color: var(--cor-font-20);
    background: var(--cor-black-four);
    padding: 100px 0;
  
  }

  footer h3 {
    margin-bottom: 1.5rem;
    font-size: 2em;
    font-family: var(--font-secund);
    color: var(--cor-font-70);
  }
  
  footer ul li {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    list-style: none;
  }
  
  footer a {
    color: var(--cor-font-20);
    text-decoration: none;
    font-family: var(--font-terce);
    font-size: 1em;
  }
  
  footer a:hover {
    color: var(--cor-font-10);
  }
  
  footer p {
    font-size: 1em;
    margin-top: 2rem;
    font-family: var(--font-terce);
    color: var(--cor-font-20);
  }
  .row{
    display: flex;
    justify-content: space-between;    
  }
  
  /* responsividade */
  @media only screen and (max-width: 768px) {
    footer .container {
      text-align: center;
    }
  
    footer .row {
      flex-direction: column;
      align-items: center;
    }
  
    footer .col-md-4 {
      margin-bottom: 2rem;
    }
  }
.services{
  padding: 100px 0 ;
}
.conta{
  max-width: 1170px;
  margin: auto;
  
}
.services .heading{
  margin-bottom: 50px;
  width: 100%;
}
.services .heading h2{
  text-align: center;
  font-size: 2.5em;
  font-family: var(--font-principal);
  color: var(--cor-font-70);
  margin: 0;
}
.services .conte{
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}
.services .conte .cont-box{
  width: 33.33%;
  padding: 15px;
}
.services .conte .cont-box .inner{
  padding: 30px;
  text-align: center;  
  position: relative;
}
.services .conte .cont-box .inner::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  border-left: 3px solid transparent;
  transition: all .8s ease ;
  animation: our-services 5s infinite alternate;
}
.services .conte .cont-box .inner::after{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  height: 0;
  box-sizing: border-box;
  border-top: 3px solid transparent;
  border-right: 3px solid transparent;
  transition: all .8s ease ;
  animation: our-services 5s infinite alternate;

}
/* 
.services .conte .cont-box:hover .inner::after{
  border-color: var(--cor-10);
  width: 100%;
  height: 100%;

}
.services .conte .cont-box:hover .inner::before{
  border-color: var(--cor-10);
  width: 100%;
  height: 100%;
  
}
*/
@keyframes our-services {
  0%{
    border-color: transparent;
    width: 0;
    height: 0;
    
  }
  100%{
    border-color: var(--cor-10);
    width: 100%;
    height: 100%;
    
  }
}
.services .conte .cont-box:hover .inne lord-icon{

}

.services .conte .cont-box .inner lord-icon{
  
}
.services .conte .cont-box .inner  h3{
  font-size: 20px;
  font-weight: normal;
  color: var(--cor-font-70);
  margin: 20px 0;
}
.services .conte .cont-box .inner p{
  font-size: 16px;
  color: var(--cor-font-20);
  line-height: 24px;

}
@media(max-width: 789px){
  .services .conte .cont-box{
    width: 80%;
    margin: 0 auto;
  }
}
.etapas{
  background: transparent;
}
.problemas{
  background: var(--cor-black-four);
}
.problemas .conte .cont-box{
  width: 25%;
}
@media(max-width: 789px){
  .problemas .conte .cont-box{
    width: 80%;
    margin: 0 auto;
  }
}