@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --font-principal: 'Montserrat', sans-serif;
  --font-terce: 'Raleway', sans-serif;
}
body{
  min-height: calc(100vh);
  background-image: linear-gradient(to left, #000000,  #262626,  #1c1c1c, #252525, #000000);
  background-size: 500% 100%;
  animation: degrade-animado 5s infinite alternate;
  display: grid;
  justify-items: center;
  align-items: center;
}
 @keyframes degrade-animado{
   0%{
     background-position-x: 0%;
   }
   100%{
     background-position-x: 100%;
   }
 }
 
.blur{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  object-position: center;
  filter: blur(8px) grayscale(100);
  mix-blend-mode: lighten;
  z-index: -1;
  opacity: 0.1;

}
main{
  width: 100%;


}
.container{
  max-width: 1150px;
  margin: 0 auto;
  padding: 50px;
}
.container h1{
  color: #fff;
  font-size: 4em;
  font-family: var(--font-principal);
}
@media(max-width: 500px){
  .container h1{
    font-size: 2.5em;
  }
  footer{
    
  }
}
.container p{
  margin-top: 20px;
  color: #656565;
  max-width: 750px;
  font-size: 1em;
  line-height: 24px;
  font-family: var(--font-principal);
  font-weight: 100;
}
footer{
  padding: 20px;

}
footer p{
  color: white;
  color: #cccccc;
  font-size: 1em;
  line-height: 24px;
  font-family: var(--font-principal);
  font-weight: 100;
  text-align: center;
}